body{
    background-color: rgb(30, 30, 30);
}


.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;


   
    .img-banner{
        width: 100vw;
        height: 80vh;


        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            mask-image: linear-gradient(to bottom, rgba(0,0,0,3), rgba(0,0,0,0));
        }
    }
    .logo-banner{
        position: absolute;
        height: 30vh;


        img{
            width: auto;
            height: 100%;
        }
    }
}

.container{
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);

    .arrow{
        position: absolute;
        width: 20px;
        height: auto;
        cursor: pointer;
        z-index: 1;
    }
    .left{
        margin-right: 2vw;
        left: 0;
    }
    .right{
        transform: rotate(180deg);
        right: 0;
    }
}

.artists{
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;


    .ind-art{
        object-fit: cover;
        width: 15rem;
        height: auto;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        transition: 0.3s ease;
    }
    .ind-art:hover{
        cursor: pointer;
        filter: brightness(70%);
    }
}


.articles{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 100%;
    background-color: transparent;
    color: white;
    transition: 0.4s ease;
    box-shadow: 0px 0px 40px 1px rgba(255, 255, 255, 0.044);


    .card-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .card-text {
        flex-grow: 1;
    }


    .card-img{
        width: 100%;
        height: 30vh;
        overflow: hidden;
        img{
            width: 100%;
            height: auto;
            transition: 0.4s ease;
        }
    }

    .btn{
        background-color: rgba(199, 199, 199, 0.367);
        color: white;
    }
}
.card:hover{
    box-shadow: 0px 0px 40px 1px  #ffffff24;
}
.card img:hover{
    transform: scale(1.1);
}

.newsletter-card{
    color: white;
    background-color: #000000;

    .input-email{
        color: inherit;
        background-color: rgb(30, 30, 30);
        border-style: none;
        outline-style: none;
        height: 4vh;
        margin-top: 5px;

    }
    .button{
        color: inherit;
        background-color: rgb(30, 30, 30);
        height: 4vh;
        border-style: none;
        outline-style: none;
        margin-top: 5px;
        transition: 0.4s ease;
    }
    .button:hover{
        background-color: rgba(199, 199, 199, 0.367);
    }
}


.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;
    height: 50vh;
    .logoFooter{
        width: auto;
        height: 7vh;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
}


.footerFooter{
    height: 3vh;
    color: white;
    .url{
        font-size: 1rem;
    }
}
